name: Detect more uup entries
on:
  schedule:
    - cron: '1 0-23/2 * * *'
  workflow_dispatch:

concurrency:
  group: main-yml
  cancel-in-progress: false

jobs:
  list-releases:
    name: Get not figured out builds
    runs-on: ubuntu-latest
    outputs:
      uuids: ${{ steps.version_list_step.outputs.uuid_matrix }}
    steps:
      - uses: actions/checkout@v4
      - run: pip install pydantic requests && chmod +x ./code/mmmm.sh
      - run: python ./code/daily.py ${{ vars.ALLOWED_DOWNLOAD_SIZE }} && bash ./code/mmmm.sh
        id: version_list_step

  download-releases:
    needs: list-releases
    strategy:
      fail-fast: false
      matrix:
        uuid: ${{ fromJson(needs.list-releases.outputs.uuids) }}
    uses: ./.github/workflows/download_build.yml
    with:
      uuid: ${{matrix.uuid}}


  publish_docs:
    name: Deploy docs
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - name: Checkout main
        uses: actions/checkout@v4
      - run: python3 -m pip install --upgrade pip setuptools wheel && python3 -m pip install mkdocs mkdocs-gen-files
      - run: git config user.name 'github-actions[bot]' && git config user.email 'github-actions[bot]@users.noreply.github.com'
      - name: Publish docs
        run: mkdocs gh-deploy --force